@import 'variables';

#employerDashboard {
  .offer-form {
    text-transform: uppercase;
    padding: 20px 20px 0 20px;

    .header {
      padding: 10px 20px 5px 10px;

      .title {
        font-size: 2em;

        .accent {
          color: $accent-color;
        }

        .position {
          text-transform: uppercase;
          font-size: 12px;
          color: $employer-dashboard-font-color;
        }
      }
    }

    .content {
      text-transform: uppercase;
      border: 2px solid #ccc;
      padding: 20px 40px 20px 20px;
      margin: 0px;
      margin-right: 20px;
      position: relative;

      .offer-sent-message {
        width: 100%;
        height: 100%;
        background-color: rgba(250, 255, 220, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100000;
        display: none;

        &.visible {
          display: inline-block;
        }

        .content {
          margin: 0 auto;
          background-color: white;
          border: 2px solid $accent-color;
          border-radius: 5px;
          vertical-align: middle;
          font-weight: bold;
          text-align: center;
          padding: 15px;
          font-size: 1.2em;
          top: 50%;
          transform: translateY(-50%);

          .icon.remove {
            color: $accent-color;
            font-size: 30px;
            position: absolute;
            top: 10px;
            right: 0;
            cursor: pointer;
          }

          p {
            margin: 0.5em;
          }

          .accent {
            color: $accent-color;
          }
        }
      }

      label {
        color: $accent-color;
      }

      input {
        text-transform: uppercase;
      }

      textarea {
        text-transform: uppercase;
        width: 100%;
      }

      .label {
        margin-top: 10px;
      }

      .ui.input.full-width {
        width: 100%;
      }

      .ui.input.date {
        input {
          width: 50px;
        }

        .date-separator {
          font-size: 1.5em;
          padding: 5px;
          vertical-align: middle;
          color: $employer-dashboard-font-color;
        }

        .year {
          width: 70px;
        }
      }

      .value {
        color: $employer-dashboard-font-color;
        margin-bottom: 0.5em;

        .disclaimer {
          padding-right: 15px;

          textarea {
            max-height: 150px;
            height: 150px;
          }
        }
      }

      .scroll-panel {
        height: 10em;
        overflow-y: scroll !important;
        margin-right: 10px;
      }

      .disclaimer {
        width: 95%;
      }

      .file-upload-status {
        font-size: 12px;
        margin-left: 5px;
      }

      .file-upload {
        position: relative;
        overflow: hidden;
        width: 90px;
        font-size: 12px;
        text-transform: uppercase;

        input.upload {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }

      .submit-button {
        margin-top: 10px;

        button {
          color: white;
          text-transform: uppercase;

          &:disabled {
            cursor: arrow;
            background-color: #ccc;
          }
        }
      }

      .fee-structure {
        font-size: 13px;
        color: $employer-dashboard-font-color;

        .accent {
          text-transform: lowercase;

          a {
            color: $accent-color;
          }
        }

        .fee {
          font-size: 1.2em;
          color: $accent-color;
        }

        .small {
          text-transform: lowercase;
          font-size: 11px;
        }

        .checkbox {
          width: 24px;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin: 5px 5px 0 3px;
          label {
            width: 24px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            background: $input-bg-color;
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            border-radius: 0;
            border: 1px solid $accent-color;
            //box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,100,0,0.75);
            &:after {
              content: '';
              width: 12px;
              height: 7px;
              position: absolute;
              top: 4px;
              left: 6px;
              border: 3px solid #333;
              border-top: none;
              border-right: none;
              background: transparent;
              opacity: 0;
              color: $accent-color;
              transform: rotate(-45deg);
            }
            &:hover::after {
              opacity: 0.5;
            }
          }
          input[type=checkbox] {
            visibility: hidden;
            &:checked + label:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  #employerDashboard {
    .offer-form {
      background-color: white;
      margin: 1.5em 1em;
      padding: 0.5em;

      .header {
        padding: 0;

        .title {
          font-size: 16px;

          .position {
            display: none;
          }
        }
        .buttons {
          display: none;
        }
      }

      .content {
        padding: 1em;
        margin: 0;

        .field {
          width: 100% !important;
          display: table;
          margin-bottom: 0.3em;

          label {
            display: table-cell;
            width: 40%;
          }

          .label {
            display: table-cell;
            width: 30%;
          }

          .value {
            display: table-cell;
            width: 100%;
          }

          &.details {
            display: block;
            label {
              width: 100%;
              display: block;
            }
            .value {
              display: block;
              width: 100%;
              textarea {
                width: 100%;
              }
            }
          }
        }

        .upload-benefits {
          width: 60% !important;

        }

        .file-upload-status {
          width: 100%;
          display: block;
          font-size: 10px;
          margin-bottom: 1em;
        }

        .disclaimer, .value-disclaimer {
          display: none;
        }

        .fee-structure {
          text-align: center;
          width: 100% !important;

          .accept-agreement {
            display: block;
          }

          .checkbox {
            float: right;
            margin-top: 1.5em;
            margin-right: 10%;
          }

          .one-time {
            .small {
              display: block;
            }
          }
        }

        .submit-button {
          padding-top: 1em;
          display: block;
          text-align: center;
          margin: 0 auto;
          width: 100% !important;

          .button {
            float: none;
          }
        }
      }
    }
  }
}
