@import 'variables';


.dashboard {
  .column {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .ui.grid > .column:not(.row), .ui.grid > .row > .column {
    padding: 0;
  }

  .ui.grid {
    margin: 0;
  }

  .job-board {
    .header {
      padding: 10px 10px 0 10px;
      .title {
        font-size: 2em;
        .accent {
          color: $accent-color;
        }
      }

      .add-job {
        line-height: 2.5em;
      }

      .job-filter {
        margin-top: 0;

        .item {
          padding-bottom: 0.2em;
          padding-top: 0;
        }

        .ui.button {
          font-size: 0.6em;
          width: 150px;
          height: 24px;
        }
      }
    }

    .ui.items {
      margin-top: 0;

      .no-jobs {
        padding: 1em;
      }

      .position.item {
        cursor: pointer;
        text-transform: uppercase;
        padding: 1em;
        margin: 10px;
        border: 1px solid #eee;
        width: auto;

        .details {
          padding-top: 20px;
        }

        &:hover {
          background-color: $background-accent-semitransparent;
        }

        .label {
          color: $accent-color;
          padding-bottom: 0;
        }

        .value {
          color: #777;
          padding-top: 0;
          padding-bottom: 0.5em;
        }

        .column {
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          margin-right: 0;
        }

        .right-panel {
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;

          .ui.list {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;

            img {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .position-details.item {
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid #eee;

    .header {
      padding: 0.2em 0;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 2.5em;
      text-transform: uppercase;

      .button {
        margin-top: 5px;
      }
    }

    .content {
      padding: 0em;
      padding-top: 1em;
      margin: 10px;
      border: 2px solid #ccc;
    }

    .details.column {
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-top: 2em;
      padding-bottom: 3em;
    }

    .label {
      color: $accent-color;
      padding-bottom: 0;
    }

    .value {
      color: #777;
      padding-top: 0;
      padding-bottom: 0.5em;
      margin-bottom: 10px;

      &.description {
        padding-bottom: 10px;
      }
    }

    .right-panel {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1em;
      padding-bottom: 0;

      .ui.list {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;

        img {
          cursor: pointer;
        }
      }
    }

    .ui.grid.fetched {
      margin: 0;
      padding: 0.8em 1.5em;
      margin-bottom: 2em;
      background-color: $background-accent-semitransparent;

      .title {
        font-size: 1.1em;
        font-weight: bold;
      }

      .accent {
        color: $accent-color;
        font-size: 0.8em;
      }

      .ui.list {
        padding-bottom: 10px;

        .item {
          padding-left: 0.1em;
          padding-right: 0.1em;
          margin-left: 0.1em;
          margin-right: 0.1em;
          cursor: pointer;
          position: relative;
          width: 85px;
          height: 85px;

          img {
            width: 100%;
            vertical-align: top;
          }

          .overlay {
            opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            visibility: inherit;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../images/icon-job-details.png') center no-repeat;
            background-color: rgba(120, 200, 0, 0.4);
            background-size: 30px 50px;

            &.hover {
              opacity: 1;
            }
          }

          .info-tooltip {
            position: absolute;
            bottom: 40px;
            left: 40px;
            border: 1px solid white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 15px;
            text-transform: capitalize;
            font-size: 12px;
            min-width: 130px;
            text-align: center;
            z-index: 20000;

            &.hidden {
              visibility: collapse;
            }

            .accent {
              border-top: 15px solid transparent;
              border-bottom: 15px solid transparent;
              border-right: 15px solid $accent-color;
              height: 0;
              left: -3px;
              position: absolute;
              bottom: -10px;
              transform: rotate(315deg);
              -webkit-transform: rotate(315deg);
              -ms-transform: rotate(315deg);
              width: 0;
            }

            .attributes {
              text-align: left;
              list-style-type: none;
              margin-left: 0;
              padding-left: 0;
              color: white;

              .name {
                color: $accent-color;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  .dashboard {
    #dashboardContent {
      .position-details.item {
        background-color: white;
        margin: 1.5em 1em;

        .header {
          padding: 0;
          display: inline-table;
          width: 100% !important;
          margin: 0;

          .title {
            display: table-cell;
            vertical-align: bottom;
            width: 50% !important;
            .position-name {
              font-size: 14px;
              line-height: 14px;
            }
          }

          .buttons {
            display: table-cell;
            vertical-align: middle;
            width: 50% !important;
            .ui.button {
              font-size: 10px;
            }
          }
        }

        .content {
          margin: 0;

          .right-panel {
            display: none;
          }

          .details {
            width: 100% !important;
            padding: 1em;

            .field {
              width: 50% !important;
            }

            .job-title {
              display: none;
            }

            .empty {
              display: none;
            }
          }
        }

        .fetched {
          .ui.list {
            .item {
              width: 100px;
              height: 100px;

              .overlay {
              }
              .mobile.info {
                position: absolute;
                z-index: 1000;
                bottom: -2px;
                width: 100%;
                height: 35px;
                color: white;
                text-align: center;
                background: rgba(50, 50, 50, 0.7);
                border: 1px solid white;

                .name {
                  color: $accent-color;
                  display: block;
                  text-transform: capitalize;
                }
                .skills {
                  font-size: 10px;
                  text-transform: none;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
