@import 'variables';

#employerDashboard {

  .employer-invite-coworkers {
    padding: 10px;

    .header {
      .accent {
        color: $accent-color;
      }
    }

    .content {
      border: 2px solid #ccc;
      padding: 30px 10px;

      .buttons {

        button {
          &.disabled {
            cursor: pointer;
            background-color: #ccc;
          }
        }
      }
    }
  }

}
