@import 'variables';

$filter-border-color: rgba(200, 200, 200, 0.4);

.filter-combo-box {
  cursor: pointer;
  padding: 3px 0;
  position: relative;
  text-transform: uppercase;

  &:hover {
  }

  .container {
    position: absolute;
    right: 0;
    bottom: 5px;
    max-width: 200px;
    z-index: 100000;

    .ui.list {
      overflow: auto;
      max-height: 250px;
      border: 2px solid white;
      padding: 15px 0;
      padding-right: 2px;
      background-color: rgba(50, 50, 50, 0.9);

      .item {
        padding: 6px 25px !important;

        &:hover {
          color: black;
          background-color: $accent-color;
        }
      }
    }

    .accent {
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid $accent-color;
      height: 0;
      left: -3px;
      position: absolute;
      bottom: -10px;
      transform: rotate(315deg);
      -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
      width: 0; 
    }

  }
}