@import 'variables';

.forgot-password-container {
  margin-top: 100px;
  text-align: center;
  width: 50%;
  margin-left: 0;
  margin-right: 0;

  .ui.cards {
    .forgot-password.card {
      width: 100%;

      .content {
        .header {

        }

        .meta {
          margin: 2em;
          .ui.form {
            margin-left: 0;

            .error-message {
              width: 100%;
              text-align: center;
              color: red;
              margin-bottom: 1em;

              &.hide {
                display: none;
              }
            }

            .instructions {
              display: block;
              margin: 1em;
              font-size: 14px;
            }

            .field {
              display: inline-table;
              width: 100%;

              .label {
                display: table-cell;
                width: 30%;
                vertical-align: middle;
                color: black;
              }

              .input {
                display: table-cell;
                width: 70%;

                input {
                  width: 100% !important;
                }
              }
            }

            .note {
              width: 100%;
              margin: 1em;
              font-size: 13px;
              font-style: italic;
            }

            .buttons {
              width: 100%;
              margin: 0 auto;;
              .button {
                width: 150px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  .forgot-password-container {
    margin-top: 100px;
    text-align: center;
    width: 70%;
    margin-left: 0;
    margin-right: 0;

    .ui.cards {
      .forgot-password.card {
        width: 100%;

        .content {
          .header {

          }

          .meta {
            margin: 2em;
            .ui.form {
              margin-left: 0;

              .instructions {
                display: block;
                margin: 0.5em;
                font-size: 12px;
                text-align: center;
                width: 100%;
              }

              .field {
                display: inline-table;
                width: 100%;

                .label {
                  display: none;
                }

                .input {
                  display: table-cell;
                  width: 100%;

                  input {
                    width: 60% !important;
                  }
                }
              }

              .note {
                width: 100%;
                margin: 0.5em;
                font-size: 11px;
                font-style: italic;
              }

              .buttons {
                width: 100%;
                margin: 0 auto;;
                .button {
                  width: 120px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .forgot-password-container {
    margin-top: 100px;
    text-align: center;
    width: 90%;
    margin-left: 0;
    margin-right: 0;

    .ui.cards {
      .forgot-password.card {
        width: 100%;

        .content {
          .header {

          }

          .meta {
            margin: 2em;
            .ui.form {
              margin-left: 0;

              .instructions {
                display: block;
                margin: 0.5em;
                font-size: 12px;
                text-align: center;
                width: 100%;
              }

              .field {
                display: inline-table;
                width: 100%;

                .label {
                  display: none;
                }

                .input {
                  display: table-cell;
                  width: 100%;

                  input {
                    width: 90% !important;
                  }
                }
              }

              .note {
                width: 100%;
                margin: 0.5em;
                font-size: 11px;
                font-style: italic;
              }

              .buttons {
                width: 100%;
                margin: 0 auto;;
                .button {
                  width: 100px;
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
