body {
  background: #000 url("../images/fetch-BG.jpg") left top/cover;
  background-size: cover;
  color: #fff;
}

/* line 9, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_layouts.css.scss */
.top-left-accent {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #a4cc39;
  height: 0;
  left: -4px;
  position: absolute;
  top: -14px;
  transform: rotate(45deg);
  width: 0; }

/* line 2, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
.landing-page .langing-logo {
  margin: 1em auto .5em;
  width: 61%;
  max-width: 15em;
  height: 5em; }
  /* line 7, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
  .landing-page .langing-logo span {
    position: absolute;
    right: -900000px; }
  /* line 12, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
  .landing-page .langing-logo a {
    display: block;
    height: 100%;
    background: transparent url("../images/fetch-logo.svg") center top/contain no-repeat; }
/* line 18, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
.landing-page .slogan {
  font-size: .875em;
  font-weight: 200;
  letter-spacing: 4px;
  margin: 2em 0;
  text-align: center;
  text-transform: uppercase; }
  /* line 25, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
  .landing-page .slogan span {
    font-weight: 100; }
/* line 29, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */

.landing-page .login-block {
  display: block;
  margin-bottom: 3em;  
  text-align: center;

  .column {
    width: auto !important;
  }
}

.landing-page .login-link {
  padding: 10px;
  color: #a4cc39;
  text-align: center;
  text-transform: uppercase; }
  /* line 35, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
  .landing-page .login-link span {
    color: #999; }
/* line 39, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
.landing-page .ui.cards {
  height: 120px;
  justify-content: center; }
  /* line 41, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
  .landing-page .ui.cards .card {
    text-align: center;
    width: 40%;
    max-width: 10em;
    border-radius: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative; }
    /* line 49, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
    .landing-page .ui.cards .card:first-child {
      margin-right: 5%; }
    /* line 52, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
    .landing-page .ui.cards .card .header {
      color: #000;
      font-size: 1.3em;
      font-weight: 600;
      text-transform: lowercase; }
    /* line 58, /Users/rodolfo/Projects/isotope11/fetch/fetch.com/source/stylesheets/_landing_page.css.scss */
    .landing-page .ui.cards .card .meta {
      color: #a4cc39;
      font-size: .875em;
      font-weight: 300;
      text-transform: uppercase; }

.landing-page .ui.cards .card .content {
  padding-top: 10px;
}
