@import 'variables';

body {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

body.talent {
  background: url("../images/bg-talent.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.employer {
  background: url("../images/bg-employer.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.employer-dashboard {
  background: url('../images/employer-dashboard-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.agent-dashboard {
  background: url('../images/employer-dashboard-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui.button {
  font-weight: normal;
  border-radius: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.ui.button.green {
  background-color: $accent-color;
  color: black;

  &:hover {
    background-color: $accent-color;
  }
}

.ui.button.black {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.ui.modal {
  color: black;
  border: 1px solid $accent-color;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1.2em;

  .accent {
    color: $accent-color
  }
}

.ui.dimmer.modals {
  background-color: rgba(200, 200, 200, 0.6)
}

.menu.navbar {
  .logout {
    height: 30px;
    width: 100px;
    padding: 0;
    line-height: 30px;
    position: absolute;
    right: 7.5%;
    top: 30%;
  }
}

.ui.green.buttons .button,
.ui.green.button {
  background-color: $accent-color;

  &:focus {
    background-color: $accent-color;
  }
}

.ui.form input[type="text"], .ui.form input[type="password"] {
  font-family: 'Arial Narrow', Arial, sans-serif;
}
