@import 'variables';

.messaging-list {
  background-color: white;
  margin: 1em;
  padding: 1em;

  .header {
    .title {
      display: inline-block !important;
    }

    .buttons {
      display: none !important;
    }
  }

  .content {
    border: 2px solid #ccc;
    padding: 1em;
    margin: 1em;

    .message-list {
      .ui.comments {
        .messaging-list-item.comment {
          background-color: #eee;
          text-align: right;
          text-transform: uppercase;

          .avatar {
            margin-left: 5px;
            position: absolute;
            float: none;
            top: 10px;
            img {
              border-radius: 500rem !important;
            }
          }
          .content {
            border: none;

            name {
              display: block;
            }
          }

          .metadata {
            margin-left: 0;
          }
        }
      }
    }
  }
}
