@import 'variables';

#employerDashboard {
  .dashboard {

    .position-match-details {

      .ui.header.centered {
        padding-top: 20px;
      }

      .ui.card {
        margin: 0 auto;
        width: 80%;

        .ui.image {
          padding: 10px;
        }

        .content {
          padding: 10px;

          .header.title {
            border-bottom: 1px solid #e6e6e6;
            padding-bottom: 0.5em;
            margin-bottom: 0.5em;
          }

          .ui.list {

            .item {
              font-weight: bold;

              .header {
                color: $accent-color;
              }
            }
          }
        }
      }
    }    
  }
}
