div.rank-slider {
  margin-left: 10px;

  label {
    padding: 5px;
    width: 150px;
    display: inline-block;
  }

  input {
    display: inline-block;
  }

  h4.rank-value {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0;
  }
}
