@import 'variables';

.topcoat-text-input,
.topcoat-text-input--large {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
}

.topcoat-text-input:disabled,
.topcoat-text-input--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-text-input,
.topcoat-text-input--large {
  line-height: 3rem;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 1.25rem;
  background-color: #454646;
  color: #c6c8c8;
  vertical-align: top;
  text-transform: uppercase;
}

.topcoat-text-input:focus,
.topcoat-text-input--large:focus {
  background-color: #595b5b;
  color: #fff;
}

.topcoat-text-input:disabled::-webkit-input-placeholder {
  color: #fff;
}

.topcoat-text-input:disabled::-moz-placeholder {
  color: #fff;
}

.topcoat-text-input:disabled:-ms-input-placeholder {
  color: #fff;
}

.topcoat-text-input:invalid {
  border: 1px solid #ec514e;
}

.topcoat-text-input--large {
  line-height: 4.375rem;
  font-size: 1.3rem;
}

.topcoat-text-input--large:disabled {
  color: #fff;
}

.topcoat-text-input--large:disabled::-webkit-input-placeholder {
  color: #fff;
}

.topcoat-text-input--large:disabled::-moz-placeholder {
  color: #fff;
}

.topcoat-text-input--large:disabled:-ms-input-placeholder {
  color: #fff;
}

.topcoat-text-input--large:invalid {
  border: 1px solid #ec514e;
}

.topcoat-list__container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.topcoat-list__container {
  border-top: 1px solid #333434;
  color: #c6c8c8;
  position: absolute;
  background-color: #333;
  z-index: 1000000;
}

.topcoat-list__item {
  margin: 0;
  padding: 0;
}

.topcoat-list__item {
  padding: 1.25rem;
  border-top: 1px solid #616363;
  border-bottom: 1px solid #333434;
}

.topcoat-list__item:first-child {
  border-top: 1px solid rgba(0,0,0,0.05);
}

.topcoat-active {
  background: #585858;
}

.topcoat-list {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.list__header,
.topcoat-list__header {
  margin: 0;
}

.list__container,
.topcoat-list__container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list__item,
.topcoat-list__item {
  margin: 0;
  padding: 0;
}

.topcoat-list {
  background-color: #454646;
}

.topcoat-list__header {
  padding: 4px 20px;
  font-size: 0.9em;
  font-weight: 400;
  background-color: #3f4041;
  color: #c6c8c8;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.topcoat-list__container {
  border-top: 1px solid #333434;
  color: #c6c8c8;
}

.topcoat-list__item {
  padding: 0.5rem;
  text-transform: uppercase;

  a {
    color: $accent-color;
  }
}

.topcoat-list__item:first-child {
  border-top: 1px solid rgba(0,0,0,0.05);
}

