@import 'variables';

.recover-password-container {
  margin-top: 100px;
  text-align: center;
  width: 50%;
  margin-left: 0;
  margin-right: 0;

  .ui.cards {
    .recover-password.card {
      width: 100%;

      .content {
        .header {
          font-size: 2em;
        }

        .meta {
          margin: 2em;
          .ui.form {

            .error-message {
              width: 100%;
              text-align: center;
              color: red;
              margin-bottom: 1em;

              &.hide {
                display: none;
              }
            }

            .instructions {
              display: block;
              font-size: 14px;
              margin: 1em auto;
            }

            .field {
              display: inline-table;
              width: 100%;

              .label {
                display: table-cell;
                width: 50%;
                vertical-align: middle;
                color: black;
              }

              .input {
                display: table-cell;
                width: 50%;

                input {
                  width: 100% !important;
                }
              }
            }

            .note {
              width: 100%;
              margin: 1em;
              font-size: 13px;
              font-style: italic;
            }

            .buttons {
              width: 100%;
              margin: 0 auto;;
              .button {
                width: 150px;
              }

              .return {
                margin: 0.5em;
                font-size: 16px;
                a {
                  color: $accent-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.recover-password {
  #passwordRecoveryEmailSentPanel {
    .email-sent-container {
      margin-top: 100px;
      text-align: center;
      width: 50%;
      margin-left: 0;
      margin-right: 0;

      .ui.cards {
        .card {
          width: 100%;

          .content {
            .header {
              font-size: 2em;
            }

            .meta {
              margin: 1em;

              .buttons {
                margin: 1em;
              }
            }
          }
        }
      }
    }
  }
}

.password-reset {
  #passwordResetPanel {
    .password-reset-container {
      margin-top: 100px;
      text-align: center;
      width: 50%;
      margin-left: 0;
      margin-right: 0;

      .ui.cards {
        .card {
          width: 100%;

          .content {
            .header {
              font-size: 2em;
            }

            .meta {
              margin: 1em;

              .buttons {
                margin: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  .recover-password-container {
    margin-top: 50px;
    text-align: center;
    width: 90%;
    margin-left: 0;
    margin-right: 0;

    .ui.cards {
      .recover-password.card {
        width: 100%;

        .content {
          .header {
            font-size: 2em;
          }

          .meta {
            margin: 2em;
            .ui.form {

              .error-message {
                width: 100%;
                text-align: center;
                color: red;
                margin-bottom: 1em;

                &.hide {
                  display: none;
                }
              }

              .instructions {
                display: block;
                font-size: 14px;
                margin: 1em auto;
              }

              .field {
                display: inline-table;
                width: 100%;

                .label {
                  display: none;
                }

                .input {
                  display: table-cell;
                  width: 50%;

                  input {
                    width: 90% !important;
                  }
                }
              }

              .note {
                width: 100%;
                margin: 1em;
                font-size: 13px;
                font-style: italic;
              }

              .buttons {
                width: 100%;
                margin: 0 auto;;
                .button {
                  width: 150px;
                }

                .return {
                  margin: 0.5em;
                  font-size: 16px;
                  a {
                    color: $accent-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .recover-password {
    #passwordRecoveryEmailSentPanel {
      .email-sent-container {
        margin-top: 50px;
        text-align: center;
        width: 90%;
        margin-left: 0;
        margin-right: 0;

        .ui.cards {
          .card {
            width: 100%;

            .content {
              .header {
                font-size: 2em;
              }

              .meta {
                margin: 1em;

                .buttons {
                  margin: 1em;
                }
              }
            }
          }
        }
      }
    }
  }

  .password-reset {
    #passwordResetPanel {
      .password-reset-container {
        margin-top: 100px;
        text-align: center;
        width: 90%;
        margin-left: 0;
        margin-right: 0;

        .ui.cards {
          .card {
            width: 100%;

            .content {
              .header {
                font-size: 2em;
              }

              .meta {
                margin: 1em;

                .buttons {
                  margin: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
}
