@import 'variables';

#talentDashboard {
  .edit-profile {
    padding: 15px 15px 5px 15px;

    .header {

      .title {
        font-size: 2.5em;
        line-height: 1.2em;

        .accent {
          color: $accent-color;
        }
      }
    }

    .form {
      border: 2px solid #ccc;
      padding: 0px 15px 15px 15px !important;
      margin: 10px 0 0 0 !important;

      .field {
        &.skills {
          .value.middle {
            margin-top: -10px;
            margin-bottom: 10px;
          }
        }

        &.about-me {
          margin-bottom: 0;
        }

        label.skill {
          display: none;

          &.middle {
            margin-bottom: 10px;
          }
        }

        .value {
          width: 80%;

          input {
            width: 100%;

            &.lowercase {
              text-transform: lowercase;
            }
          }

          &.error {
            input, textarea {
              background: $error-bg-color;
              border-color: $error-border-color;
              color: $error-color;
              box-shadow: none;
            }

            .Select-control {
              border: 1px solid $error-border-color;
              background: $error-bg-color;

              .Select-placeholder {
                color: $error-color;
              }
            }
          }
        }
      }

      .file-upload-status {
        text-transform: uppercase;
        font-size: 0.9em;
        color: #888;
        padding-left: 5px;
      }

      .file-upload {
        position: relative;
        overflow: hidden;
        width: 80px;
        height: 28px;
        background-color: $input-bg-color;
        font-size: 0.9em;
        text-transform: uppercase;

        input.upload {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          padding: 0;
          font-size: 20px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }

      input {
        text-transform: uppercase;
        padding: 0.3em;
        border-radius: 0;
        background-color: $input-bg-color;
        border: 1px solid $input-bg-color;

        &:focus {
          background-color: #fff;
        }

      }

      label {
        color: $accent-color;
        vertical-align: middle;
        line-height: 2em;
        text-transform: uppercase;
      }

      textarea {
        padding-top: 0;
        text-transform: uppercase;
        width: 100%;
        resize: none;
        overflow-y: scroll;
        background-color: $input-bg-color;
        border: 1px solid $input-bg-color;
      }

      .ui.input {
        width: 80%;

        .typeahead {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }

      .dropdown {
        .text {
          font-size: 12px;
        }

        .menu {
          .item {
            font-size: 12px;
          }
        }
      }

      .dropdown.multiple {
        a.ui.label {
          font-size: 10px;
          line-height: 1.5em;
        }

        .default.text {
          padding-top: 0;
        }

        .dropdown.icon {
          top: 0;
        }
      }

      .field.full-width {
        width: 93%;
      }

      .grid {
        padding-top: 2em;

        .column.buttons {
          padding-top: 30px;
          padding-bottom: 60px;
        }

        .column {
          padding-top: 0.2em !important;
          padding-bottom: 0.2em !important;
        }
      }

      .picture {
        margin-top: 20px;

        .current {
          width: 170px !important;
          img {
            display: block;
          }
          .text {
            font-size: 12px;
            font-weight: bold;
          }
        }

        .update {
          vertical-align: bottom;

          label {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  #talentDashboard {
    .talentDashboard {
      #dashboardContent {
        .edit-profile {
          background-color: white;
          margin: 5px;
          padding: 5px;

          .content {
            padding: 0;

            .form {
              padding: 5px !important;
              margin: 0;
            }
          }

          .title {
            font-size: 1.2em;
          }

          .field {
            width: 100% !important;
            margin-bottom: 0.5em;

            &.about-me {
              margin-bottom: 0;
            }

            &.skills {
              .value.middle {
                margin-top: 0;
                margin-bottom: 0.5em;
              }
            }

            label {
              float: left;
              clear: both;
              font-size: 1em;

              &.skillset {
                display: none;
              }

              &.skill {
                display: inline-block;
              }
            }

            .dropdown.multiple {
              a.ui.label {
                font-size: 7px;
                line-height: 10px;
              }

              .default.text {
                padding-top: 0;
              }

              .dropdown.icon {
                top: 0;
              }
            }

            textarea {
              height: 5em;
            }

            .value {
              float: right;
              width: 60%;

              &.culture {
                width: 70%;
              }

              input {
              }
            }
          }

          .column.resume {
            width: 38% !important;
            float: left;
            display: block;
            font-size: 0.8em;

            label {
              display: block;
            }
          }

          .column.picture {
            width: 60% !important;
            float: left;
            display: inline-block;
            margin-top: 0px;
            font-size: 0.8em;

            img {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              width: 50%;
            }

            .text {
              display: none;
            }

            .current {
              width: 45% !important;
              display: inline-block;
              float: left;
            }

            .update {
              width: 50% !important;
              display: inline-block;
              float: left;
            }
          }

          .column.buttons {
            margin: 0 auto;
            text-align: center;
            .button {
              float: none;
              font-size: 14px;
              font-weight: bold;
              width: 180px;
            }
          }
        }
      }
    }
  }
}
