@import 'variables';

body.talentDashboardContainer {
  background: #000 url("../images/talent-dashboard-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#talentDashboard {

  .ui.grid > .column:not(.row), .ui.grid > .row > .column {
    padding: 0;
  }
  .ui.grid {
    margin: 0;
  }

  .talentDashboard {

    #dashboardContent {
      padding: 0em;
      margin: 10px 0 0 15px;
    }

    nav.ui.fixed.menu {
      background-color: $nav-menu-primary-color;
      border-bottom: 3px solid white;
    }

    .ui.inverted.menu {
      height: 70px;
      border-bottom: 1px solid white;
      margin-bottom: 25px;
      .item {
        font-size: 1.25em;
        color: black;
        text-transform: uppercase;
        &.active {
          color: $nav-menu-primary-color !important;
          background-color: black !important;
        }
      }

      .logo.fetch.mobile {
        display: none;
      }
    }

    .ui.fixed.menu + .ui.grid {
      padding-top: 70px;
      margin-top: 0;
    }

    img.logo {
      margin: -58px 10px 20px 40px;
      width: 200px;
      height: 200px;
      overflow: visible;

    }

    .nav-menu {
      margin-left: 20px;
      display: inherit;

      .mobile.messages {
        display: none;
      }
    }

    .column.left-sidebar {
      width: 235px !important;
      padding-left: 0em;
      padding-right: 0em;
      margin-left: 22px;
      margin-right: 0em;
      margin-top: 10px;
      border: 1px solid white;
    }

    .column.right-sidebar {
      width: 220px !important;
      margin: 0 auto;
      margin-top: 1em;
      font-size: 1.2em;
      .accent {
        color: $accent-color;
      }

      .edit-profile.mobile {
        display: none;
      }

      .conversations {
        padding-bottom: 50px;
        .title {
          padding-bottom: 5px;
        }
      }
    }
  }
  .footer {
    margin-left: 0.5em;
    padding: 1em;
    text-align: center;
    font-size: 10px;

    .copyright {
      padding-top: 1.5em;
      padding-bottom: 1.5em;

      .accent {
        color: $accent-color;
      }
    }
  }
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  .ui.menu .item:before {
    content: none;
  }
  #talentDashboard {
    .ui.inverted.menu {
      border-bottom: none !important;
      .logo {
        display: none;
      }
      .logout {
        display: none;
      }
      .logo.fetch.mobile {
        display: inline !important;
        background-image: url("../images/mobile-fetch-logo.png");
        background-size: 100%;
        width: 80px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 30px;
      }

      .nav-menu {
        a.item.active {
          background-color: transparent !important;
        }
        a.item {
          margin-right: 15px;
          .text {
            display: none;
          }

          &.fetched {
            background-image: url("../images/mobile-fetched-jobs.png") !important;
            background-size: 100%;
            background-color: transparent !important;
            width: 53px;
            height: 20px;
            top: 15px;
          }
          &.mobile.messages {
            background-image: url("../images/mobile-messages.png") !important;
            background-size: 100%;
            background-color: transparent !important;
            width: 40px;
            height: 32px;
            top: 15px;
            display: inline-block;
          }
          &.messages {
            display: none;
          }
          &.offers {
            background-image: url("../images/mobile-offers.png") !important;
            background-size: 100%;
            background-color: transparent !important;
            width: 30px;
            height: 40px;
            top: 15px;
          }
        }
      }
    }

    .column.left-sidebar {
      display: none;
    }

    .column.center-content {
      width: 100% !important;
    }

    #dashboardContent {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
      margin: 0 !important;
    }

    .column.right-sidebar {
      display: block;
      width: 100%;

      .edit-profile.mobile {
        display: inline-block !important;
        padding: 8px 10px !important;
        margin: 0 10px 20px 10px;
      }

      .conversations, .no-conversations {
        display: none;
      }

      .selectedAgent {
        .column.title {
          margin-bottom: 10px;
        }
        .column.name {
          display: none;
        }
        .column.status {
          display: none;
        }
      }
    }
  }

  .footer {
    margin-top: 15px;
    text-align: center;
    .accent {
      color: $accent-color;
    }
  }
}

#dashboardContent {
  background: white;
  color: black;
  border:1px solid white;
  padding: 1em;
}

.featureText {
  color: $nav-menu-primary-color;
}
