@import 'variables';

$primary-color: #9fcd1a;
$job-border-color: #d2d2d2;

.talentDashboardJobs {
  padding: 15px;

  h1 {
    font-size: 2.5em;
  }

  .job {
    border: 3px solid $job-border-color;
    margin-bottom: 10px;
    min-height: 150px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: $background-accent-semitransparent;
    }

    img {
      width: 180px;
      height: 120px;
    }
    .job-properties {
      margin-top: 1em;
    }
    .ui.items {
      .item {
        .content {
          .meta {
            color: $primary-color;
            font-weight: bold;
          }
        }
      }
    }
    .actions {
      margin-top: 1.5em;
      padding-right: 1em;
      i {
        cursor: pointer;
        float: right;
        clear: right;
        width: 30px;
        margin-bottom: .5em;
        margin-right: 0;
        display: block;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.job-details {
  text-transform: uppercase;
  padding: 10px;

  .ui.card {
    width: 100%;
  }

  .content {
    .header {
      font-size: 2.5em !important;
    }

    .extra.content {
      padding-top: 20px;

      .actions {
        .icon {
          cursor: pointer;
        }
      }
    }

    .meta {
      font-size: 1.5em;

      ul {
        list-style: none;
        // margin-left: -20px;
        padding-left: 0;
      }

      li {
        padding: 10px;
      }

      .name {
        color: $accent_color;
        font-weight: bold;
      }
    }
  }
}

#talentDashboard {
  .position-details {
    background-color: white;
  }
  .position-details.item {
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid #eee;
    position: relative;

    img.clickable {
      cursor: pointer;
    }

    .right-panel {
      img {
        cursor: pointer;
      }
    }

    .header {
      padding: 0.2em 0;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 2.5em;
      text-transform: uppercase;

      .position-name {
        display: inline-block;
      }

      img {
        margin-left: 5px;
        vertical-align: middle;
      }

      .button {
        margin-top: 5px;
      }
    }

    .content {
      padding: 0em;
      padding-top: 1em;
      margin: 0 10px;
      border: 2px solid #ccc;
      position: relative;

      .thank-you-message {
        width: 100%;
        height: 100%;
        background-color: rgba(250, 255, 220, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100000;
        display: none;

        &.visible {
          display: inline-block;
        }

        .content {
          margin: 0 auto;
          background-color: white;
          border: 2px solid $accent-color;
          border-radius: 5px;
          vertical-align: middle;
          font-weight: bold;
          text-align: center;
          padding: 15px;
          font-size: 1.2em;
          top: 50%;
          transform: translateY(-50%);

          .icon.remove {
            color: $accent-color;
            font-size: 30px;
            position: absolute;
            top: 10px;
            right: 0;
            cursor: pointer;
          }

          p {
            margin: 0.5em;
          }

          .accent {
            color: $accent-color;
          }
        }
      }

      img.logo-content {
        padding-top: 10px;
        position: absolute;
        z-index: 100;
      }

      .details {
        width: 85% !important;
        margin: 20px;
      }
    }

    .details.column {
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-top: 2em;
      padding-bottom: 3em;
    }

    .label {
      color: $accent-color;
      padding-bottom: 0;

      &.description {
        margin-top: 15px;
      }
    }

    .value {
      color: #777;
      padding-top: 0;
      padding-bottom: 0.5em;
      margin-bottom: 10px;

      &.description {
        margin-bottom: 20px;
      }
    }
  }

  .interest-panel {
    background-color: $background-accent-semitransparent;
    margin: 0 auto;
    padding: 20px !important;

    .title {
      position: absolute;
      left: -10px;
      top: -30px;
      padding: 5px 15px;
      background-color: $accent-color;
      color: black;
      font-weight: bold;
      font-size: 18px;
    }

    .content-flow {
      .label {
        text-align: left;
        padding: 5px;
        color: black;
        float: left;
        position: absolute;
      }

      img {
        padding: 10px 30px 0 10px;
        vertical-align: middle;
      }
    }

    .note {
      color: $accent-color;
    }

    .ui.grid {
      text-align: center;
      margin: 0 auto;

      .column {
        margin: 0 auto;
        text-align: center;

        .ui.button {
          padding: 10px 10px;
          width: 240px;
          height: 60px;
          line-height: 40px;
          font-size: 25px;
          margin: 10px 25px;

          &.not-interested {
            background-color: black;
            color: $accent-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  .talentDashboardJobs {
    width: 95%;
    background-color: transparent;
    margin: 0 auto;
    padding: 10px;

    h1 {
      display: none;
    }

    .job {
      background-color: white;
      border: none;
      font-size: 8px;
      min-height: inherit;

      .meta {
        margin-bottom: 0 !important;
      }

      &:hover {
        background-color: white;
      }

      .job-properties {
        margin-top: 0;
      }

      img {
        margin-top: 10px;
        width: 80px;
        height: 80px;
      }

      .ui.items > .item {
        margin: 1em 0;

        .content {
          color: #666;
        }
      }

      .ui.items > .item:first-child {
        margin-top: 0;
      }

      .ui.items > .item:last-child {
        margin-bottom: 0em;
      }
    }
  }
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  #talentDashboard {
    .talentDashboard {
      #dashboardContent {
        .position-details {
          margin: 1em;

          .header {
            font-size: 1em;
            line-height: 1em;
            margin: 0;

            .column {
              vertical-align: bottom;
            }

            .position-name {
              font-size: 1.2em;
            }

            img {
              display: none;
            }

            .ui.button {
              margin-top: 0;
              font-size: 0.7em;
            }
          }

          .content {
            margin: 0;

            .details {
              width: 100% !important;
              margin: 0 5px;
              padding: 5px;

              .job-title {
                display: none;
              }

              .empty {
                margin: 0 !important;
              }
            }

            .right-panel {
              display: none;
            }

            .column.logo {
              max-width: 100px !important;
              text-align: right;
              .logo-content {
                max-width: 100px;
                max-height: 80px;
                right: 0;
              }
            }

            .interest-panel {
              padding-left: 0 !important;
              padding-right: 0 !important;
              height: 200px;

              .note {
                font-size: 9px;
              }

              .ui.button {
                width: 60%;
                font-size: 1.6em;
                height: auto;
                line-height: 1.2em;
              }

              .content-flow {
                margin: 0 auto;
                height: 200px;
              }

              .chat {
                padding: 0;
                top: 50px;
                width: 10%;
                padding-left: 0;
                position: absolute;
                left: 10%;
              }

              .arrow {
                padding: 0;
                position: absolute;
                left: 25%;
                top: 60px;
                width: 10%;
              }

              .people-talk {
                padding: 0;
                position: absolute;
                left: 40%;
                top: 50px;
                width: 10%;
              }

              .arrow-disabled {
                padding: 0;
                position: absolute;
                left: 55%;
                top: 60px;
                width: 10%;
              }

              .offer-disabled {
                padding: 0;
                position: absolute;
                left: 70%;
                top: 50px;
                width: 10%;
              }
            }
          }
        }
      }
    }
  }
}
