@import 'variables';

.two-way-toggle {
  height: 30px;
  background-color: $button-bg-color;
  color: $button-font-color;
  width: 352px;
}
.two-way-left, .two-way-right {
  width: 167px;
  height: 30px;
  padding-top: 6px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}
.two-way-right {
  float: right;
}
.two-way-right.active, .two-way-left.active {
  background-color: $accent-color;
}
.two-way-divider {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  display: inline-block;
}
.two-way-divider.right-active {
  border-top: 30px solid transparent;
  border-right: 18px solid $accent-color;
}
.two-way-divider.left-active {
  border-bottom: 30px solid transparent;
  border-left: 18px solid $accent-color;
}
.ui.cards > .card .meta .two-way-divider,
.ui.cards > .card .meta .two-way-left,
.ui.cards > .card .meta .two-way-right {
  margin: 0;
}

@media screen and (max-width: $largeMonitorBreakpoint) {
  .two-way-toggle {
    font-size: 1.2em;
  }
}
