$accent-color: #a4cc39;
$button-bg-color: #000000;
$button-font-color: #ffffff;

$nav-menu-primary-color: #9fcd1a;

$employer-dashboard-font-color: #888888;
$talent-dashboard-font-color: #888888;

$input-bg-color: #eee;
$input-font-color: #888888;

$error-border-color: #e0b4b4;
$error-bg-color: #fff6f6;
$error-color: #9f3a38;

$background-accent-semitransparent: rgba(159, 205, 26, 0.35);

$status-online-text: $accent-color;
$status-offline-text: #888888;
$status-online-circle: $accent-color;
$status-offline-circle: #cc2222;

/*-------------------
     Semantic-UI Breakpoints
--------------------*/

$mobileBreakpoint            : 320px;
$tabletBreakpoint            : 768px;
$computerBreakpoint          : 992px;
$largeMonitorBreakpoint      : 1200px;
$widescreenMonitorBreakpoint : 1920px;
